/*Color Palette
background color:                               #020659
curated playlists playlist background color:    #020873
curated playlists section background color:     #030A8C
your playlists playlist background color:       #0D8DFB
gradient start color:                           #2104D9
your playlists section background color:        #2699FB
accent color:                                   #590242
*/

html {
    background-color: #020659;

}

head {

}

body {
    width: 375px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {

}

nav {
    background-color: #030A8C;
}

nav > li {
    font-variant: small-caps;
}

h1 {
    font-size: 1.25em;
}

h2, h3 {
    font-size: 1em;
}

main {
    background-color: #fff;
}

p, dl, dd {
    font-size: 1em;
}

footer {

}

footer p {
    font-size: .75em;
}

audio::-webkit-media-controls-mute-button {

}
audio::-webkit-media-controls-play-button {

}
audio::-webkit-media-controls-enclosure {

}

#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}